.button {
    border: none;
    cursor: pointer;
    margin: 10px;
    color: aliceblue;
    background-color: teal;
}

.button:hover {
    background-color: hsl(180, 100%, 35%);
}

.button__done {
    display: flex;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-wrap: wrap;
    border: none;
}

.button__remove {
    display: flex;
    cursor: pointer;
    display: grid;
    justify-content: flex-end;
    flex-wrap: wrap;
    border: none;
    background-color: red;
}

.button__remove:hover {
    background-color: #ff3333;
}