.button {
    border: none;
    cursor: pointer;
    color: aliceblue;
    background-color: teal;
}

@media(max-width:767px) {
    .button {
        display: flex;
        flex-basis: 100%;
    }
}

.button:hover {
    background-color: hsl(180, 100%, 35%);
}

.button__done {
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.button__remove {
    cursor: pointer;
    border: none;
    background-color: red;
}

.button__remove:hover {
    background-color: #ff3333;
}