.list {
    background-color: whitesmoke;
    border-bottom: 2px solid #e9e9e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__header {
    background-color: whitesmoke;
    font-size: x-large;
}

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    border-bottom: 2px solid #e9e9e9;
    text-decoration: line-through;
}

.form__button {
    border: none;
    cursor: pointer;
}

.list__button {
    color: hsl(180, 100%, 25%);
    border: none;
    cursor: pointer;
    transition: 1s;
}

.list__button:hover {
    color: hsl(180, 100%, 35%);
}

.list__button--disabled {
    justify-content: space-around;
    border: none;
    color: darkgray;
    cursor: not-allowed;
}

.list__button--done {
    margin-left: 10px;
    background-color: rgb(26, 168, 26);
    height: 15px;
    width: 15px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    transition: 1s;
}

.list__button--done:hover {
    background-color: chartreuse;
}

.list__button--remove {
    cursor: pointer;
    border: none;
    background-color: red;
    transition: 1s;
}

.list__button--remove:hover {
    background-color: #ff3333;
}