.list {
    background-color: whitesmoke;
    border-bottom: 2px solid #e9e9e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}

.list__header {
    background-color: whitesmoke;
    font-size: x-large;
}

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    border-bottom: 2px solid #e9e9e9;
    text-decoration: line-through;
}

.list__button--done {
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.list__button--remove {
    cursor: pointer;
    border: none;
    background-color: red;
}

.list__button--remove:hover {
    background-color: #ff3333;
}