.section {
    margin: 10px 0;
    background: white;
    box-shadow: 0 0 5px #ddd;
    list-style: none;
}

.section__header {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.section__body {
    padding: 20px;
}

.section__buttons {
    color: hsl(180, 100%, 25%);
    border: none;
    cursor: pointer;
    transition: 1s;
}

.section__buttons:hover {
    color: hsl(180, 100%, 35%);
}

.section__buttons:active {
    color: hsl(180, 100%, 45%);
}

.section__buttons--disabled {
    justify-content: space-around;
    border: none;
    cursor: not-allowed;
}