html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 700px;
    font-stretch: normal;
    background-color: floralwhite;
    padding: 15px;
    margin: auto;
    font-family: 'Signika', sans-serif;
}

.listItem {
    text-decoration: line-through;
}